@import "tailwindcss";

@theme {
  --color-dark-900: #111827;
  --color-dark-800: #1F2937;
  --color-dark-700: #374151;
  --color-primary: #3B82F6;
  --color-accent-beer: #F59E0B;
  --color-accent-cocktail: #8B5CF6;
  --color-accent-soft: #10B981;
  --color-accent-snack: #EF4444;
  --color-accent-wine: #EC4899;
}

@layer base {
  body {
    background-color: var(--color-dark-900);
    color: white;
    -webkit-tap-highlight-color: transparent;
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}
